<style>
    .logo {
      font-size: 150px;
    }
    @media screen and (max-width: 768px) {
      .col-sm-4 {
        text-align: center;
        margin: 25px 0;
      }
    }
    </style>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8">
          <h2>Map-weather implementation in a web application with Angular</h2>
          <h4>SISTEMAS BASADOS EN WEB E INTELIGENCIA DE NEGOCIOS</h4>
          <p>Juan Alberto Moreno Sanchez </p>
        </div>
        
      </div>
    </div>
    
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact me.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Aguascalientes, MX</p>
      <p><span class="glyphicon glyphicon-phone"></span> +52 4651030866</p>
      <p><span class="glyphicon glyphicon-envelope"></span> albertons_ms@hotmail.com</p>
    </div>
  </div>
</div>